<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div ng-controller="NarrowItDownController as list" class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="list.searchTerm" type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click= "list.getFoundItems();" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    
    <!-- found-items should be implemented as a component -->
    <!-- <div style="margin-top: 80px;">
     <ul style="padding-left: -15px;" class="list-group">
    <li ng-repeat="item in list.foundItems" class="list-group-item list-group-item-info">      
      {{ item.name }}, {{ item.short_name }},{{item.description}}
      <button ng-click="list.removeItem();">Don't want this one!</button>
    </li>
  </ul>
  </div> -->

    <found-items items="list.foundItems" on-remove="list.removeItem()"></found-items>
   <div>{{list.errorMessage}}</div>
  </div>

</body>
</html>
